html, body{
    height:100%;
}

.hero1{
    height:100%;
    width:100%;
    background-image: "images/sandds.png";
    background-size: cover;
    border-radius:5px;
    border-color:black;
    border-style:solid;
}