html, body{
    height:100%;
}

.hero1{
    height:100%;
    width:100%;
    background-image:url(../images/sandds.png);
    background-size: fill;
    border-radius:5px;
    border-color:black;
    border-style:solid;
}